body {
    background-color: rgb(181, 227, 227);
}

.dayNightButton {
    float: right;
    border: transparent;
    color: white;
    background-color: rgb(133, 166, 183);
    display: block;
    margin-left: auto;
}

.dayNightButton:hover {
    color: rgb(133, 166, 183);
    background-color: rgb(255, 255, 255);
}

#homeh1 {
    font-family: 'Brush Script MT', cursive;
    color: rgb(50, 80, 16);
    font-size: 100px;
    text-align: center;
    margin-top: 20vh;
}

nav {
    background-color: transparent;
    display: flex;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: rgb(133, 166, 183);
    height: 40px;
    padding: 20px 0px 5px 0px;
    width: 20%;
    text-align: center;
}

nav a:hover {
    color: rgb(133, 166, 183);
    background-color: rgb(255, 255, 255);
}


article>section {
    background-color: rgba(52, 248, 255, 0.171);
    width: 30%;
    margin: 15px;
    padding: 1px 0px 10px 20px;
    width: 50%;
}

article {
    font-family: 'Courier New', Monospace;
    background-color: rgba(22, 68, 143, 0.188);
    width: 100%;
    padding: 20px;
    margin: 10px 4%;
    width: 90%;
}

.chosen_a {
    background-color: rgba(133, 166, 183, 0.588);
}

.submit {
    font-family: 'Brush Script MT', cursive;
    font-size: 20px;
    border: transparent;
    background-color: transparent;
    color: white;
}

.submit:hover {
    border: transparent;
    color: rgb(133, 166, 183);
}

.add_button {
    font-size: 5vh;
    font-family: 'Brush Script MT', cursive;
    margin: 10px 4%;
    width: 20%;
    height: 50px;
    border: transparent;
    background-color: transparent;
    color: white;
}

.add_button:hover {
    border: transparent;
    color: rgb(133, 166, 183);
}

.question ul {
    list-style: circle;
}

button.chosen_answer {
    color: red;
}

.login_box {
    background-color: rgba(22, 68, 143, 0.188);
    width: 100%;
    margin-top: 15vh;
    padding: 15px 0px;
}

.login_box div {
    margin-top: 10px;
    margin-left: 6%;
}

.login_box button {
    display: block;
}

.container {
    width: 50%;
    margin: 10% 25% 0% 25%;
    max-height: 200px;
    overflow: auto;
}


table {
    font-family: "Lato-Regular";
    width: 100%;
    padding: 0;
    border-collapse: collapse;
    white-space: nowrap;
}

th,
td {
    /* border: 1px solid black; */
    padding: 9px 15px 9px 5px;
    text-align: left;
}

th {
    position: sticky;
    top: 0;
    background-color: #4682B4;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #e8f0f7;
}

/* tr.row2 {
    background-color: #e8f0f7;
} */